body {
  margin: 0;
  padding: 0;
  color: #fff;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 121px;
  height: 100%;
  background-color: #333;
  padding: 20px;
  color: #fff;
  z-index: 1;
  /* Add this line */
}

#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  padding: 9px 0;
  border-bottom: 2px solid #555;
}

#sidebar ul li>button {
  background-color: transparent;
  border-radius: 7px;
  color: whitesmoke;
  height: 45px;
  width: 125px;

}

#sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.dark-mode {
  background-color: #111;
  color: #fff !important;
}

#dark-mode-btn {
  background: none;
  display: flex;
  position: absolute;
  bottom: 50px;
  border: none;

}

/*=== Toggle === */
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 70px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 5px;
  width: 29px;
  height: 29px;
  background: #fff;
  border-radius: 90px;
  transition: 0.5s;
}

input:checked+label {
  width: 70px;
  height: 30px;
  background: #02e4fb;
}

input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 130px;
}

centering body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#mode1 {
  color: #fff;
  display: none;
  margin-top: 9px;
  margin-left: 10px;
}

#mode {
  color: #fff;
  display: block;
  margin-top: 9px;
  margin-left: 10px;
}

input:checked~#mode1 {
  display: block;
}

input:checked~#mode {
  display: none;
}


/*=== chart === */

.chart-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin: 1em 0;
  width: 46%;
}

canvas {
  height: 450px;
  padding-left: 66px;
  padding-right: 20px;
  width: 50%;
}

.chart-container1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin: 2em 0;
  width: 46%;
}

canvas {
  height: 450px;
  padding-left: 99px;
  width: 50%;
}

.chart-container2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin: 2em 0;
  margin-top: -4rem;
  width: 46%;
}

canvas {
  height: 450px;
  padding-left: 66px;
  padding-right: 0px;
  width: 70%;
}

.chart-container3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin: 2em 0;
  margin-top: 2rem;
  width: 46%;
}

/* --- Chart 4 --- */
.chart-container9 {
  display: none;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin: 2em 0;
  margin-top: -4rem;
  width: 46%;
}
/* --- Chart 5 --- */
.chart-container10{
  display: none;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin: 2em 0;
  margin-top: 2rem;
  width: 46%;
}
canvas {
  height: 450px;
  padding-left: 66px;
  padding-right: 0px;
  width: 70%;
}

.chart-info {
  font-family: sans-serif;
  font-size: 13px;
  color: gray;
  position: absolute;
  top: 8px;
}

#chartInfo {
  right: 20px;
}

#chartInfo2 {
  right: -541px;

}

#chartInfo3 {
  right: 20px;
}

#chartInfo4 {
  right: -541px;
}

#chartInfo5 {
  right: 27px;
}

#chartInfo6 {
  right: -541px;
}

#chartInfo6 {
  right: -541px;
}

#chartInfo7 {
  right: 20px;
}

#chartInfo8 {
  right: -541px;
}

#chartInfo9 {
  right: 20px;
}

#chartInfo10 {
  right: -541px;
}

#chartInfo11 {
  right: 20px;
}

#chartInfo12 {
  right: -541px;
}

/* #myChart2{
  padding-right: 0px;
  padding-left: 40px;
  
} */
.container-fluid {
  margin: 32px 0px 0px 125px;
}

.toggle-container {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.toggle-switch {
  background: #ccc;
  width: 80px;
  height: 30px;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 21px;
  right: 71px;
}

.toggle-switch:after {
  content: " ";
  display: block;
  width: 40px;
  height: 30px;
  background-color: #3498DB;
  border: 3px solid #fff;
  border-top: 0;
  border-bottom: 0;
  margin-left: -3px;
  transition: all 0.1s ease-in-out;
}

.active .toggle-switch:after {
  margin-left: 40px;
}

.toggle-label {
  display: inline-block;
  line-height: 30px;
}

.toggle-label-off {
  color: #3498DB;
}

.active .toggle-label-off {
  color: #000;
}

.active .toggle-label-on {
  color: #3498DB;
}



/* toggle css */

/* body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} */
/* body input {
  display: none;
} */
body .toggleWrapper1 {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .2s;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fe4551;
  position: absolute;
  top: 30px;
  right: 30px;
}

body .toggleWrapper1:active .toggle1 {
  height: 17px;
  width: 17px;
}

body .toggleWrapper1 .toggle1 {
  transition: all 0.2s ease-in-out;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 10px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  animation: red .7s linear forwards;
}

body .background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #fef5f4;
}

body input:checked~.background {
  background-color: #f9faf7;
}

body input:checked+.toggleWrapper1 {
  background-color: #48e98a;
  /* box-shadow: 0 20px 20px 0 #000000; */
  height: 60px;
  width: 60px;
}



body input:checked+.toggleWrapper1 .toggle1 {
  width: 0;
  background-color: #fff;
  border-color: transparent;
  border-radius: 30px;
  animation: green .7s linear forwards !important;
}

body .footer {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: calc(-46%);
  bottom: 0;
  font-style: italic;
  font-size: 12px;
  color: #212121;
  background-color: white;
  padding: 15px 20px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
}

body .footer a {
  color: #222;
}

body .footer a:first-child {
  padding-bottom: 10px;
}

@keyframes red {
  0% {
    height: 30px;
    width: 0;
    border-width: 5px;
  }

  55% {
    height: 13px;
    width: 27px;
    border-width: 10px;
  }

  70% {
    height: 20px;
    width: 20px;
    border-width: 10px;
  }

  85% {
    height: 15px;
    width: 25px;
    border-width: 10px;
  }

  100% {
    height: 20px;
    width: 20px;
    border-width: 10px;
  }
}

@keyframes green {
  0% {
    height: 20px;
    width: 20px;
    border-width: 10px;
  }

  25%,
  55%,
  85% {
    height: 30px;
    width: 5px;
    border-width: 5px;
  }

  40%,
  70%,
  100% {
    height: 30px;
    width: 0;
    border-width: 5px;
  }
}

.toggleWrapper1:after {
  display: none;
}




/* === output toggle === */


.showme1 {
  display: flex !important;
  /* background-color: green; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #808080;
  min-height: 500px;
  width: 900px;
  position: absolute;
  top: 10px;
  /* right: 0px; */
  left: 275px;
}

.toggle-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 59px;
  margin-top: 112px;
}

.toggle-button {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  border-color: transparent;

}

.toggle-button::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.toggle-button.on {
  border-color: transparent;
  background-color: #00fc2a;

}

.toggle-button.on::before {
  transform: translateX(27px);

}

.stae {
  margin: -338px 0px 0px -204px;
  padding: 3px 0px 0px 10px;
  line-height: 73px;
}


/* CSS styling for the textbox and submit button */
.showme1>.form-container {
  /* display: flex;
        flex-direction: column;
        align-items: center; */
  margin-top: 50px;
}

.showme1>.form-container1 {
  /* display: flex;
        flex-direction: column;
        align-items: center; */
  margin-top: 50px;
}

.showme1>.form-container2 {
  /* display: flex;
        flex-direction: column;
        align-items: center; */
  margin-top: 50px;
}

.showme1>.form-container3 {
  /* display: flex;
        flex-direction: column;
        align-items: center; */
  margin-top: 50px;
}

.form-container4 {
  /* display: flex;
        flex-direction: column;
        align-items: center; */
  margin-top: 50px;
}

input[type="number"] {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


/* ======== */

/* CSS styling for the textbox and submit button */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 367px;
  margin-top: 111px;
}

.form-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 367px;
  margin-top: 10px;
}

.form-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 367px;
  margin-top: 10px;
}

.form-container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 367px;
  margin-top: 10px;
}

.form-container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 367px;
  margin-top: 10px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}



/* ==== Analog and Digital Output ==== */
.ao {
  color: #808080;
  position: absolute;
  top: 27px;
  left: 231px;
}

.do {
  color: #808080;
  position: absolute;
  top: 27px;
  right: 115px;
}

/* ==== Middle Line Between AO and DO === */
.midLine {
  border: none;
  border-left: 1px solid #a39797;
  height: 450px;
  position: absolute;
  right: 363px;
  top: 42px;
}


img {
  margin-top: 8px !important;
  margin-bottom: 30px;
  height: 38;
}

/* ==== Analog Submit button === */
input#sub1 {
  height: 40px;
  position: absolute;
  top: 450px;
  left: 259px;
}
/* === Analog label === */
.analog_label{
  /* color: red; */
  font-size: 17px;
  position: absolute;
  left: -66px;
}
#analog_label1{
  top: 100px;
}
#analog_label2{
  top: 189px;
}
#analog_label3{
  top: 273px;
}
#analog_label4{
  top: 361px;
}

input[type='number']{
  margin-left: 160px;
}
input[type='number']:focus{
  outline: none;
}